body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
}

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.profile-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 350px;
    margin: auto;
    padding: 20px;
    text-align: center;
}

.profile-card h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.profile-card .profile-image {
    position: relative;
    width: 120px;
    height: 120px;
    margin: auto;
    margin-bottom: 20px;
}

.profile-card .profile-image img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    border: 3px solid #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-card p {
    font-size: 16px;
    line-height: 1.5;
    color: #555;
    margin-bottom: 25px;
}
.btn-discover {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    padding: 10px 20px;
    border-radius: 20px;
    transition: background-color 0.2s;
}

.btn-discover:hover {
    background-color: #0056b3;
}

/* Additional styles for the buttons and icons */
.profile-social-icons {
    margin-top: 20px;
}

.profile-social-icons a {
    display: inline-block;
    margin: 0 10px;
}

.profile-social-icons i {
    color: #333;
    font-size: 18px; /* Adjust the size of the icons */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .profile-container {
        flex-direction: column;
    }
}
